
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;  
}


.board {
  /*border: 1px rgba(0,0,0,0.5) solid;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  box-sizing: border-box;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px rgba(0,0,0,0.5) solid;
  box-sizing: border-box;
}

.dead {
  background-color: palevioletred;
}

.alive {
  background-color: darkseagreen;
}